{% extends 'base.html' %}

{% load static %}

{% block content %}
<body class="home header-transparent  header-sticky header-v1 hide-topbar-mobile"
      style="position: relative; min-height: 100%; top: 0px;">
<div id="page">
    {% include 'header.html' %}


    <div id="fh-header-minimized" class="fh-header-minimized fh-header-v1" style="height: 111px;"></div>

    <div class="page-header title-area">
        <div class="header-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                        <h1 class="page-title"> Air Freight Carrier</h1></div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12 site-breadcrumb">
                        <nav class="breadcrumb">
                            <a class="home" href="./"><span>Home</span></a>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span>  Air Freight Carrier</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Page Header end-->
    <section class="partener-1 bluebg">
        <div class="container">
            <div class="fh-partner clearfix">
                <div class="list-item">


                    <div class="col-lg-12 col-md-12">


                    </div>


                </div>
            </div>
        </div>
    </section>
    <!--services Welcome sec -->
    <div class="service_dtl1 secpadd">
        <div class="container">
            <div class="row">
                <div class="col-md-12">


                    <div class="row paddsec">
                        <div class="col-md-8">
                            <div class="abotinforgt">
                                <div class="fh-section-title clearfix f25  text-left version-dark paddbtm40">
                                    <h2> Air Freight Carrier </h2>
                                </div>

                                <p>

                                    Domestic and International Air Freight service for any kind of goods enables the
                                    customer to ship anything in the process of relocating.
                                    We can meet all customer transportation needs around the world by our Air Freight
                                    Services.
                                    We bring customers shipments on time with safety to any destination in the world. We
                                    have no size, weight or schedule limitations and the customer can offer flexible
                                    options to and from all locations throughout the globe. We offer customers reliable,
                                    flexible and cost effective Air Freight shipping solutions.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="abotimglft">
                                <img src="images/garga.jpg" class="img-responsive">
                            </div>
                        </div>


                    </div>


                    <hr class="margtb40">


                    <div class="row paddsec">
                        <div class="col-md-12">
                            <div class="abotinforgt">
                                <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                                    <h2>International Air Freight</h2>
                                </div>

                                <p>

                                    We service door to door service to major metropolitan areas around the world. When
                                    the customer needs some
                                    emergency international shipping, we offer some special service of Air freight
                                    solutions to deliver customer's
                                    goods via fastest possible way of shipping. First we understand customer's specific
                                    need and then we proceed our service
                                    to match customer's shipping requirements. We provide wide range of services to our
                                    customers and aim at
                                    increasing their productivity and profitability through our services.
                                </p>
                            </div>
                        </div>

                    </div>


                    <hr class="margbtm30">

                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>Domestic Air Freight</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                We understand the customer's need of domestic Air Freight services, and we are dedicated
                                to delivering goods on time to
                                meet customer's need. These services are provided by our well trained professionals,
                                they ensure to deliver these products
                                effectively and efficiently. We make sure that the cargo is delivered very safe via Air
                                Freight.
                                All the procedures are well executed right from the storage to customer's destination.
                            </p>
                        </div>


                    </div>


                    <hr class="margbtm30">


                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>Air Freight Forwarding Services</h2>


                        <div style="padding:20px 10px;">
                            <ul>
                                <li>Door to door delivery to worldwide destinations.</li>
                                <li>Well trained personnel for handling dangerous goods.</li>
                                <li>Pick up at origin</li>
                                <li>Customs Clearance</li>
                                <li>Cargo Insurance</li>
                            </ul>

                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>    <!--footer sec-->
    {% include 'footer.html' %}


    <div id="off-canvas-layer" class="off-canvas-layer"></div>
    <!--primary-mobile-nav end-->


    <!--Scroll to top-->
    <a id="scroll-top" class="backtotop" href="#page-top"><i class="fa fa-angle-up"></i></a>

    <!--Color switcher-->

    <!-- jquery Liabrary -->
</div>

</body>
{% endblock content %}
