{% extends 'base.html' %}

{% load static %}

{% block content %}
<body class="home header-transparent  header-sticky header-v1 hide-topbar-mobile"
      style="position: relative; min-height: 100%; top: 0px;">
<div id="page">
    {% include 'header.html' %}


    <div id="fh-header-minimized" class="fh-header-minimized fh-header-v1" style="height: 111px;"></div>

    <div class="page-header title-area">
        <div class="header-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                        <h1 class="page-title"> Move Commercial Goods</h1></div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12 site-breadcrumb">
                        <nav class="breadcrumb">
                            <a class="home" href="./"><span>Home</span></a>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span>   Freight Move Commercial Goods</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Page Header end-->
    <section class="partener-1 bluebg">
        <div class="container">
            <div class="fh-partner clearfix">
                <div class="list-item">


                    <div class="col-lg-12 col-md-12">


                    </div>


                </div>
            </div>
        </div>
    </section>
    <!--services Welcome sec -->
    <div class="service_dtl1 secpadd">
        <div class="container">
            <div class="row">
                <div class="col-md-12">


                    <div class="row paddsec">
                        <div class="col-md-12">
                            <div class="abotinforgt">
                                <div class="fh-section-title clearfix f25  text-left version-dark paddbtm40">
                                    <h2> Move Commercial Goods </h2>
                                </div>

                                <p>
                                    We are providing high quality commercial goods packing and moving services to our
                                    customers to ship their goods such as furniture, fixtures, cabinets, computers,
                                    hospital equipments, vehicles both two wheelers and four wheelers to their location.
                                    Proper and safe packing of goods is very much important in our company. We are
                                    having well equipped and computer assisted transportations in our company. We are
                                    also having well experienced people and nationwide relocation resources with us.
                                    We also specialize in providing Packing &amp; Moving Services for all kind of
                                    commercial goods.
                                </p>


                                <div style="padding:5px 10px; background:#E9F3F3">
                                    <h2 style="font-size:18px;">Shipping Methods:</h2>

                                    <ul>
                                        <li>Air Freight</li>
                                        <li>Ocean Freight</li>
                                        <li>Domestic Freight</li>
                                    </ul>
                                </div>


                            </div>
                        </div>

                    </div>


                    <hr class="margtb40">


                    <div class="row paddsec">
                        <div class="col-md-12">
                            <div class="abotinforgt">
                                <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                                    <h2>Air Freight Service</h2>
                                </div>

                                <p>
                                    Air Freight is the fastest way to ship customer's goods to the destination. We are
                                    fully equipped and have well trained people to handle for special projects,
                                    oversized cargo and dangerous goods. Every shipment is handled carefully with our
                                    experts so that customer's goods can reach the destination with safety. As a major
                                    Air Freight forwarding company, we take care of all the delivery responsibility.
                                </p>
                            </div>
                        </div>

                    </div>


                    <hr class="margbtm30">

                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>Ocean Freight Service</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                Ocean freight is the main facilitator for international shipping it allows to make
                                shipments of large amount of cargo. Ocean freight can be done in many ways, like
                                container, bulk cargo etc. The most common shipping in international freight is ocean
                                freight by container.
                            </p>


                            <h4>There are two ways in ocean shipping:</h4>
                            <ul style="margin-top: -10px; list-style: square; line-height: 2; padding-left: 30px;">
                                <li>FCL (Full Container Load)</li>
                                <li>LCL (Less than a Container Load)</li>
                            </ul>

                        </div>


                    </div>


                    <hr class="margbtm30">

                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>FCL (Full Container Load)</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                We offer wide range of containers; every container is designed to meet different needs.
                                These can be fully enclosed, temperature-controlled or simply a flat base for oversize
                                goods. We use Full Container Loads (FCL) to offer our customers reliable, flexible and
                                cost efficient transportation.</p>
                        </div>

                    </div>


                    <hr class="margbtm30">

                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>LCL (Less than a Container Load)</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                We offer Less Than Container Load (LCL) cargo to every major container port around the
                                world. Departure schedules are well
                                managed from end-to-end, to ensure customer's requirements and promises are kept. In
                                addition to our standard LCL shipping service,
                                customer can take advantage of our completive priced door pickup,
                                cargo insurance to tailor every LCL shipment to customer's specific needs.</p>
                        </div>


                    </div>


                    <hr class="margbtm30">


                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>Domestic Freight Service</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>

                                We offer our customers with proficient Domestic Transportation services.
                                With the assistance of our trustworthy agents located at strategic locations,
                                we are able to serve our customers at the remote areas as well. Our company is managed
                                by
                                experts that have the necessary skills for handling breakable products as well as bulk
                                products.
                                At the same time the team ensures the safety of the goods till the customer's end
                            </p>
                        </div>

                    </div>


                    <hr class="margbtm30">


                </div>
            </div>
        </div>
    </div>
    <!--footer sec-->
    {% include 'footer.html' %}


    <div id="off-canvas-layer" class="off-canvas-layer"></div>
    <!--primary-mobile-nav end-->


    <!--Scroll to top-->
    <a id="scroll-top" class="backtotop" href="#page-top"><i class="fa fa-angle-up"></i></a>

    <!--Color switcher-->

    <!-- jquery Liabrary -->
</div>

</body>
{% endblock content %}
