{% extends 'base.html' %}

{% load static %}

{% block content %}
{% include 'header.html' %}
<body class="home header-transparent  header-sticky header-v1 hide-topbar-mobile"
      style="position: relative; min-height: 100%; top: 0px;">
<div id="page">




    <div id="loadingPop">
        <input type="button" class="b-close" style="cursor:pointer;
    position:absolute;
    right:10px;
    top:5px; font-size:18px; font-weight:bold; display:none;" id="CloseMeNowLog">
        <img src="images/ajaxloading.gif"></div>


    <div id="fh-header-minimized" class="fh-header-minimized fh-header-v1" style="height: 111px;"></div>



    <div class="page-header title-area">
        <div class="header-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                        <h1 class="page-title"> Domestic Freight</h1></div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12 site-breadcrumb">
                        <nav class="breadcrumb">
                            <a class="home" href="./"><span>Home</span></a>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span>  Domestic Freight</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Page Header end-->
    <section class="partener-1 bluebg">
        <div class="container">
            <div class="fh-partner clearfix">
                <div class="list-item">


                    <div class="col-lg-12 col-md-12">

                    </div>


                </div>
            </div>
        </div>
    </section>
    <!--services Welcome sec -->
    <div class="service_dtl1 secpadd">
        <div class="container">
            <div class="row">
                <div class="col-md-12">


                    <div class="row paddsec">
                        <div class="col-md-12">
                            <div class="abotinforgt">
                                <div class="fh-section-title clearfix f25  text-left version-dark paddbtm40">
                                    <h2> Domestic Freight </h2>
                                </div>

                                <p>
                                    Freight by Air, Land or Rail services are available for all types of cargo. DML
                                    Courier Servce is one of the few leading cargo shippers in USA who
                                    can be trusted to provide all the shipping choices available in shipping your any
                                    type of freight.
                                </p>


                                <p>
                                    We can be used either as an agent of any carrier serving the destination you are
                                    shipping or by utilizing us as a carrier to avail the discounts available through us
                                    due to our consolidation service or our substantial volume of shipments with the
                                    carriers. We are licensed by DOT (Domestic), FMC (Sea International) and IATA (Air)
                                    as a Freight Forwarder / Broker / Carrier
                                </p>


                                <p>
                                    Any Size/Weight of shipment, from Door to Terminal, Terminal to Door, Door to Door
                                    Flexible but Reliable with Low Rates and Faster Transit Use us for 100 lbs / 45kg or
                                    more, of any Size/Weight of shipments Pickup/Delivery are available From/To -
                                    Business, Port, Airport, Exhibition, Hotel, Residence etc.
                                </p>


                                <div class="table-responsive margtb40">


                                    <table style="width: 100%;" cellspacing="0" cellpadding="0">


                                        <tbody>
                                        <tr style="font-weight: bold; background-color: #fff; border-top:2px solid #016491;  ">
                                            <td class="table_borders"
                                                style="width: 20%;border-top:2px solid #016491; padding-left:5px; border-bottom:1px solid #016491; height: 30px; color: #404040;">
                                                Air Cargo Services
                                            </td>
                                            <td class="table_borders"
                                                style="width: 25%;border-top:2px solid #016491; border-bottom:1px solid #016491; color: #404040;">
                                                Delivery Time
                                            </td>
                                            <td class="table_borders"
                                                style="width: 20%;border-top:2px solid #016491; border-bottom:1px solid #016491; border-left: 1px solid #016491; padding-left: 10px; color: #404040;">
                                                Domestic Freight
                                            </td>
                                            <td class="table_borders"
                                                style="width: 35%;border-top:2px solid #016491; border-bottom:1px solid #016491; color: #404040;">
                                                Transit
                                            </td>
                                        </tr>
                                        <tr style="height: 50px;">
                                            <td class="table_borders" style="padding-left: 5px">Deferred</td>
                                            <td class="table_borders" style="padding-right: 5px;">Intrastate: Overnight
                                                Interstate: ~ 2 - 4 days
                                            </td>
                                            <td class="table_borders"
                                                style="border-left: 1px solid #016491; padding-left: 10px;">Ground
                                                Shipping
                                            </td>
                                            <td class="table_borders"></td>
                                        </tr>
                                        <tr style="height: 50px;">
                                            <td class="table_borders" style="padding-left: 5px;">Expedite</td>
                                            <td class="table_borders">Intrastate: +/- 1 day
                                                Interstate: Next day
                                            </td>
                                            <td class="table_borders"
                                                style="border-left: 1px solid #016491; padding-left: 10px;">
                                                Fastest by Road
                                            </td>
                                            <td class="table_borders">Fastest possible -Team of drivers drives
                                                continuously/exclusively
                                            </td>
                                        </tr>
                                        <tr style="height: 50px;">
                                            <td class="table_borders-footer" style="padding-left: 5px;">First Flight
                                            </td>
                                            <td class="table_borders-footer">As fast as possible</td>
                                            <td class="table_borders-footer"
                                                style="border-left: 1px solid #016491; padding-left: 10px;">Intermodal
                                                Shipping
                                            </td>
                                            <td class="table_borders-footer">Container/Trailer using Truck &amp; Rail
                                                combination
                                            </td>
                                        </tr>
                                        </tbody>

                                    </table>


                                </div>


                            </div>
                        </div>

                    </div>


                    <hr class="margtb40">


                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>Why should you choose DML Courier Servce for your shipping needs?</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="ff-service"
                                style="background-color: #f4f4f4; font-size: 10pt; line-height:30px;">
                                <li style="padding-top: 15px;">Pickups/Delivery : From/To Exhibition, Convention, Hotel,
                                    Residence, Weekend, or Holidays.
                                </li>
                                <li>Either Inbound or Outbound : Use us for both - your incoming or outgoing
                                    shipments.
                                </li>
                                <li>Cut-Off Flexibility : Ship when you are ready, convenience of choosing the
                                    pickup/delivery time, late cut-offs, and still be able to meet the deadlines and
                                    satisfy
                                    your customer. 24 hours accessibility, Weekends, Holidays, Regular house pickup
                                    available
                                    (daily, weekly or specific days of the week).
                                </li>
                                <li>Flexible Billing : Choice between Prepaid, Collect or Third Party Billing.
                                    Simplified rate
                                    Structure.
                                </li>
                                <li>Liability Terms for Domestic : You get the best available liability coverage in the
                                    industry
                                    &amp; lower insurance rates
                                </li>
                                <li>Shipping Order : Same easy form for any service. Order service simply by Phone, Fax
                                    or
                                    Website.
                                </li>
                                <li>Simplified Rate Structure : Rates per Lb / Kg. instead of a table. Discounts based
                                    on the
                                    density or the revenue of the freight.
                                </li>
                                <li>Distribution &amp;/ or Storage : of your products available at most of our cargo
                                    locations.
                                </li>
                                <li style="padding-bottom: 15px;">International Air and Sea freight services are
                                    available
                                </li>
                            </ul>

                        </div>

                    </div>


                    <hr class="margbtm30">


                </div>
            </div>
        </div>
    </div>
    <!-- Welcome sec   end-->

    <!--footer sec-->

{% include 'footer.html' %}


    <!--footer sec end-->

    <!--copyright sec-->
    <!--copyright sec end-->
</div>
<!--End pagewrapper-->

<!--primary-mobile-nav-->



<div id="off-canvas-layer" class="off-canvas-layer"></div>
<!--primary-mobile-nav end-->


<!--Scroll to top-->
<a id="scroll-top" class="backtotop" href="#page-top"><i class="fa fa-angle-up"></i></a>

<!--Color switcher-->

<!-- jquery Liabrary -->


</body>
{% endblock %}
