{% extends 'base.html' %}

{% load static %}

{% block content %}
<body class="home header-transparent  header-sticky header-v1 hide-topbar-mobile"
      style="position: relative; min-height: 100%; top: 0px;">
<div id="page">
    {% include 'header.html' %}


    <div id="fh-header-minimized" class="fh-header-minimized fh-header-v1" style="height: 111px;"></div>

    <div class="page-header title-area">
        <div class="header-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                        <h1 class="page-title"> Freight Forwarding</h1></div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12 site-breadcrumb">
                        <nav class="breadcrumb">
                            <a class="home" href="./"><span>Home</span></a>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span>   Freight Forwarding</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Page Header end-->
    <section class="partener-1 bluebg">
        <div class="container">
            <div class="fh-partner clearfix">
                <div class="list-item">


                    <div class="col-lg-12 col-md-12">


                    </div>


                </div>
            </div>
        </div>
    </section>
    <!--services Welcome sec -->
    <div class="service_dtl1 secpadd">
        <div class="container">
            <div class="row">
                <div class="col-md-12">


                    <div class="row paddsec">
                        <div class="col-md-12">
                            <div class="abotinforgt">
                                <div class="fh-section-title clearfix f25  text-left version-dark paddbtm40">
                                    <h2> Freight Forwarding </h2>
                                </div>

                                <p>
                                    Shipper's in domestic or international commerce find us an integral part to their
                                    shipping needs.

                                    We, as being a licensed Freight Forwarder for Domestic (DOT) &amp; International
                                    (FMC &amp; IATA) shipping, not only act on behalf of them in arranging
                                    transportation services but also facilitate documentation &amp; other related
                                    services required by them to complete their sales transaction.
                                </p>


                                <p>
                                    Regardless of Export, Import or within USA move, we are familiar with rules &amp;
                                    regulations of countries, their customs, methods of shipping, INCO terms and
                                    documents connected to foreign trade &amp; bankers.
                                </p>


                            </div>
                        </div>

                    </div>


                    <hr class="margtb40">


                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>Freight Forwarding Services:</h2>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <p>

                                We have departments handling various aspects in shipping &amp; moving of cargo and
                                provide free quotation on-
                                Cost of documentation for Ports (Dock Receipt, Delivery Order), Carriers (Bill of
                                Lading, Air Waybill), Banks (Letter of Credit, Sight Draft), Commodities (Perishable,
                                Hazardous, Return/Rejections, Autos/Vehicles) etc.
                            </p>


                            <ul style="padding-left: 50px; margin:10px 0px; ">
                                <li>Carnet preparation fee</li>
                                <li>Certificate of Origin fee</li>
                            </ul>
                        </div>
                    </div>


                    <hr class="margtb40">


                    <div class="row">
                        <div class="col-sm-12">


                            <p>

                                With our prompt response and proper breakdown of charges for shipping by Air, Land, Rail
                                or Sea, the shippers benefit in preparation of an accurate price quotation to their
                                customers. At the shipper's request, we make the actual arrangements and provide the
                                necessary services for expediting the shipment to its destination as their authorized
                                agent. This can include:

                            </p>


                            <ul class="ff-service"
                                style="background-color: #f4f4f4; font-size: 10pt; line-height:30px;">
                                <li style="padding-top: 10px;">Booking space with the carrier</li>
                                <li>Completing export/import documentation</li>
                                <li>Arranging for cargo insurance</li>
                                <li>Advising on foreign import regulations</li>
                                <li>Providing guidance on packaging, marking, and labeling</li>
                                <li>Arranging for products to be packed and containerized at the exporter's request</li>
                                <li>Export clearance</li>
                                <li>Transloading arrangement</li>
                                <li>TransBoarder shipping arrangement</li>
                                <li>Temporary import of cargo arrangement</li>
                                <li style="padding-bottom: 10px;">Cross-Trade shipping arrangement</li>
                            </ul>


                            <p>

                                In addition to above, we are also freight consolidators and benefit shippers in lower
                                their cost of shipping by-

                            </p>


                            <ul class="ff-service"
                                style="background-color: #f4f4f4; font-size: 10pt; line-height:30px;">
                                <li style="padding-top: 10px;">suggesting available choices &amp; methods of
                                    transportation (by
                                    Air, Sea, Land or Rail)
                                </li>
                                <li>consolidating their shipments</li>
                                <li>negotiating better lower shipping rates from the carriers</li>
                                <li>suggest options for faster transit carriers</li>
                                <li>solutions to meet their client's expectation to meet deadlines</li>
                                <li>passing the discounts available from the carriers due to our high volume with them
                                </li>
                                <li>transloading cargo</li>
                                <li style="padding-bottom: 10px;">Cross-Trade Shipping</li>
                            </ul>


                        </div>

                    </div>


                    <hr class="margbtm30">


                </div>
            </div>
        </div>
    </div>
    <!-- Welcome sec   end-->

    <!--footer sec-->
    {% include 'footer.html' %}



    <div id="off-canvas-layer" class="off-canvas-layer"></div>
    <!--primary-mobile-nav end-->


    <!--Scroll to top-->
    <a id="scroll-top" class="backtotop" href="#page-top"><i class="fa fa-angle-up"></i></a>

    <!--Color switcher-->

    <!-- jquery Liabrary -->
</div>

</body>
{% endblock content %}
