{% extends 'base.html' %}

{% load static %}

{% block content %}
<body class="home header-transparent  header-sticky header-v1 hide-topbar-mobile"
      style="position: relative; min-height: 100%; top: 0px;">
<div id="page">
    {% include 'header.html' %}


    <div id="fh-header-minimized" class="fh-header-minimized fh-header-v1" style="height: 111px;"></div>

    <div class="page-header title-area">
        <div class="header-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                        <h1 class="page-title">Move Household Goods</h1></div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12 site-breadcrumb">
                        <nav class="breadcrumb">
                            <a class="home" href="./"><span>Home</span></a>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span>Move Household Goods</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Page Header end-->
    <section class="partener-1 bluebg">
        <div class="container">
            <div class="fh-partner clearfix">
                <div class="list-item">


                    <div class="col-lg-12 col-md-12">


                    </div>


                </div>
            </div>
        </div>
    </section>
    <!--services Welcome sec -->
    <div class="service_dtl1 secpadd">
        <div class="container">
            <div class="row">
                <div class="col-md-12">


                    <div class="row paddsec">
                        <div class="col-md-12">
                            <div class="abotinforgt">
                                <div class="fh-section-title clearfix f25  text-left version-dark paddbtm40">
                                    <h2> Move Household Goods </h2>
                                </div>

                                <p>
                                    We are providing reliable Domestic and International Household Goods Moving Services
                                    with the help of our expert Professionals.
                                    The Proper and Safe Packaging of goods is very much importance to us.
                                    To maintain the safety of the goods our personnel use high quality packaging
                                    materials like wrapping papers, cartons,
                                    wooden boxes etc,. All the packing processes are done under the guidance of
                                    packaging experts.
                                    We provide transportations of household goods by Air, Ocean and Road.
                                </p>
                            </div>
                        </div>

                    </div>


                    <hr class="margtb40">


                    <div class="row paddsec">
                        <div class="col-md-12">
                            <div class="abotinforgt">
                                <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                                    <h2>Air Transportation of Household Goods:</h2>
                                </div>

                                <p>
                                    Customer may wish to move essential items by Air Freight. Moving by Air Freight is
                                    fast and enables those important to access quickly by customer.
                                    We individually pack your household goods and placing them in either a protective
                                    air freight carton or special plywood case.
                                </p>
                            </div>
                        </div>

                    </div>


                    <hr class="margbtm30">

                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>Ocean Transportation of Household Goods:</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                For Long distance international move we provide containerized ocean shipping of your
                                household goods. We will pack and preserve customers household goods, then depending on
                                customers moving requirements, we will arrange for customers household goods to be put
                                in
                                to Ocean shipments as FCL(Full Container Loads), lift vans, LCL(Less than Container
                                Loads).
                            </p>
                        </div>


                    </div>


                    <hr class="margbtm30">

                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>Road Transportation of Household Goods:</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>

                                We also transport customer's household goods via roads. We try maximum to deliver the
                                goods within the stipulated time frame and safety.
                            </p>
                        </div>

                    </div>


                    <hr class="margbtm30">

                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>Household goods moving services are divided into Four Categories:</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="padding:20px 10px; background:#E9F3F3">
                                <ul>
                                    <li style="padding-top: 10px;">Packing</li>
                                    <li>Moving and relocating</li>
                                    <li>Transportation</li>
                                    <li style="padding-bottom: 10px;">Loading &amp; Unloading</li>
                                </ul>
                            </div>
                        </div>


                    </div>


                    <hr class="margbtm30">


                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>Parking:</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>

                                The major concern of the packers and movers is to pack customers goods in such a manner
                                so that they can reach the customers
                                destination safely. Packers and movers have all the necessary items and latest packaging
                                materials and machines that can ensure the safety of customer's goods. With their
                                expertise they can handle customer's belongings safely whether it is glass items,
                                piano, sensitive electronic goods or gift items.

                            </p>
                        </div>

                    </div>


                    <hr class="margbtm30">


                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>Moving and Relocating:</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>

                                Understanding all the details pertaining to the packing of the household goods, we offer
                                safe and
                                prompt relocating services. Once the task is handled to us,
                                we relieve customers from all worries, by providing on time delivery at customer's
                                doorstep.
                            </p>
                        </div>

                    </div>


                    <hr class="margbtm30">


                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>Transportation:</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>

                                We provide door to door transportation service to our customers. Our transporting
                                vehicles are well maintained.
                                It ensures that the goods safety and the delivery schedules are maintained.</p>
                        </div>

                    </div>


                    <hr class="margbtm30">


                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>Loading and Unloading:</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                All the Loading and Unloading activities are done under experiences supervision and
                                carried out by well trained workers. We ensure that the whole shipment is loaded and
                                unpacked with most care and in a professional manner at the origin and destination.
                            </p>
                        </div>

                    </div>


                    <hr class="margbtm30">


                </div>
            </div>
        </div>
    </div>
    <!--footer sec-->
    {% include 'footer.html' %}


    <div id="off-canvas-layer" class="off-canvas-layer"></div>
    <!--primary-mobile-nav end-->


    <!--Scroll to top-->
    <a id="scroll-top" class="backtotop" href="#page-top"><i class="fa fa-angle-up"></i></a>

    <!--Color switcher-->

    <!-- jquery Liabrary -->
</div>

</body>
{% endblock content %}
