{% extends 'base.html' %}

{% load static %}

{% block content %}
{% include 'header.html' %}
<body class="home header-transparent  header-sticky header-v1 hide-topbar-mobile"
      style="position: relative; min-height: 100%; top: 0px;">
<div id="page">




        <div id="fh-header-minimized" class="fh-header-minimized fh-header-v1" style="height: 111px;"></div>


        <div class="page-header title-area">
            <div class="header-title">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                            <h1 class="page-title"> Export And Import</h1></div>
                    </div>
                </div>
            </div>
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12 site-breadcrumb">
                            <nav class="breadcrumb">
                                <a class="home" href="./"><span>Home</span></a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span> Export And Import</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Page Header end-->
        <section class="partener-1 bluebg">
            <div class="container">
                <div class="fh-partner clearfix">
                    <div class="list-item">


                        <div class="col-lg-12 col-md-12">

                        </div>


                    </div>
                </div>
            </div>
        </section>
        <div class="service_dtl1 secpadd">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">


                        <div class="row paddsec">
                            <div class="col-md-12">
                                <div class="abotinforgt">
                                    <div class="fh-section-title clearfix f25  text-left version-dark paddbtm40">
                                        <h2> Export And Import </h2>
                                    </div>


                                    <h4>
                                        Importers generally rely on us for arranging Customs trade compliance regulating
                                        the imports of their products -
                                        Customs Clearance Process for novice.
                                    </h4>


                                    <ul style="list-style: square; line-height: 2; font-size:10pt; background-color: #F4F4F4; padding-left: 50px; margin-top: 5px;">
                                        <li style="padding-top: 10px;">Customs clearance &amp; release (Entry Summary -
                                            7501)
                                        </li>

                                        <li>Cargo Return (in-bond or otherwise) of rejected goods</li>

                                        <li>Transloading for Intermodal or Air/Road move (in-bond or otherwise)</li>
                                        <li>In-Bond moves from port to inland points</li>
                                        <li>Transborder move from port (i.e. to Mexico, Canada &amp; other neighboring
                                            countries)
                                        </li>
                                        <li>IT/IE/T&amp;E (Form 7512) preparation and arrangement</li>
                                        <li>Customs examinations i.e. CET/VACIS/MET/Tail Gate</li>
                                        <li>Foreign Trade Zone (FTZ) entry &amp; release</li>
                                        <li>Importer Security Filing (ISF, 10+2) &amp; bond (if required)</li>
                                        <li>FDA/USDA &amp; Other government agencies clearance &amp; release</li>
                                        <li>Carnet &amp; Temporary import in-bond clearance</li>
                                        <li>Duty Drawback (Form 7551/52/53/14) for return or goods</li>
                                        <li>In-Bond for segregation, deconsolidation or storage at low cost than ports
                                        </li>
                                        <li>Automated Manifest System - AMS</li>
                                        <li>Environmental Protection Agency - EPA forms &amp; approval process for
                                            vehicles,
                                            motors etc
                                        </li>
                                        <li>Unaccompanied Household personal goods entry clearance (Form 3299)</li>
                                        <li>Bonds (Continuous or Single Entry)</li>
                                        <li>Manipulate, Examine, Sample or Transfer Goods while in bond (Form 3499)</li>
                                        <li>Obtain Importer ID# (Form 5106) for USA or overseas parties (for DDU/DDP
                                            shipments)
                                        </li>
                                        <li>Pro Forma Invoice</li>
                                        <li style="padding-bottom: 10px;">Insurance arrangement to cover the risks of
                                            customs &amp;
                                            other government entities
                                            rejections
                                        </li>
                                    </ul>


                                </div>
                            </div>

                        </div>


                        <hr class="margtb40">

                        <div class="row">
                            <div class="col-sm-12">


                                <h4 style="font-size:14px;">

                                    Exporters generally rely on us for arranging Customs trade compliance regulating
                                    their products and other as listed below -

                                </h4>


                                <ul style="background-color: #F4F4F4; list-style: square; line-height: 2; font-size:10pt; padding-left: 50px; margin-top: 5px;">
                                    <li style="padding-top: 10px;">Vehicle/Automobile Title Validation</li>
                                    <li>Certificate of Origin certified from Chamber/Consulate/Embassy &amp; other
                                        Organizations
                                    </li>
                                    <li>SED (Shipper's Export Declaration) from AES (Automated Export System)</li>
                                    <li>Technical assistance in export license</li>
                                    <li>Returning Goods In-Bond or otherwise (IT/IE/T&amp;E - Form 7512)</li>
                                    <li>Carnet preparation &amp; bond arrangement for temporary export</li>
                                    <li>Seized goods release (seized due to misdeclaration, restricted goods,
                                        defective/infested,
                                        FDA rejection)
                                    </li>
                                    <li>Certificate of Free Sale from state</li>
                                    <li>Certificate of Registration (Form 4455) for duty free entry of temporary
                                        export
                                    </li>
                                    <li>Banking documentation such as Letter of Credit, Sight Draft</li>
                                    <li style="padding-bottom: 10px;">Used Capital Goods useful remaining life
                                        certification
                                    </li>
                                </ul>

                            </div>
                        </div>


                        <hr class="margtb40">


                        <div class="row">
                            <div class="col-sm-12">


                                <h4 style="font-size:14px;">

                                    Customs - the most important integral of international shipping &amp; moving.
                                </h4>


                                <p>
                                    Most of the exporters/importers are using professionals such as Customs Brokers,
                                    Freight Forwarders &amp; international shipping service providers because every
                                    country's customs has trade compliance regulating the commodities either leaving
                                    (export) or coming-in (import).


                                    All exporters &amp; importers are expected to understand and comply with these
                                    regulations including the individuals who might just be moving their personal
                                    household goods.

                                </p>


                                <p>

                                    There is much more than just customs compliance for an international shipper because
                                    each shipment has multiple vendors involved in process to get a shipment from origin
                                    to destination. The shipper must understand the role &amp; complications of each
                                    vendor involved and should have coordination among them so that the shipping cost is
                                    reasonable and the transit time is dependable

                                </p>


                                <p id="export-para-3" class="big">In number of years with appropriate licenses, regular
                                    training, exposure to
                                    regulations &amp; supervision, we have became good in meeting our clients'
                                    expectations.
                                    Our team of
                                    professionals is well versed with recent trade regulations, available shipping
                                    options,
                                    contracts and
                                    relationship with quality vendors (most of them are C-TPAT approved) to benefit our
                                    clients with low cost in
                                    shipping and hassle free move.</p>

                                <p id="export-para-4" class="big">USA is our territory and we do best at each sea &amp;
                                    air
                                    port. In addition, our
                                    worldwide network of agents, tested from many (&gt;25 yrs) years in business, does a
                                    job
                                    much better than our
                                    competitors because we have multiple choices at each overseas port/country to
                                    utilize
                                    depending on the need your
                                    shipment requires. Please visit our other web pages for the details on our other
                                    services,
                                    such as origin
                                    pickup, destination delivery, Insurance, Packing etc.. </p>

                                <p id="export-para-5" class="big">All compliance &amp; requirements can only be smoothly
                                    done if
                                    the
                                    documents of the shipment are in order. We guide our clients from the beginning of
                                    their
                                    transaction
                                    and check the shipping documents meticulously to assure that they are in order
                                    before the
                                    arrival of
                                    the shipment. Documents not in order or not provided timely can cause not only the
                                    delay in
                                    transit
                                    but also a big expense due to storage, detention of equipment etc..</p>

                                <p id="export-para-6" class="big">Some of the requirements listed above required to be
                                    done
                                    before the
                                    goods are shipped such as ISF for ocean shipping. Our import specialist setup the
                                    importer
                                    with
                                    customs, have bond in place and communicate with exporter or their agent to comply
                                    with ISF
                                    regulation. Even if importer is late for some reason, we guide them with the best
                                    options
                                    available
                                    and do our best to expedite preparing them for their shipment in transit and suggest
                                    what is
                                    best in
                                    their interest to avoid penalty/fine/examination, delay &amp; additional cost.
                                    Client find
                                    us very
                                    useful &amp; professional in guiding them in every difficult situation which
                                    ultimately save
                                    them
                                    hassel, delays &amp; expenses.</p>

                                <p id="export-para-7" class="big">Our handling fee for these services is quite nominal
                                    and very
                                    competitive among the competition. Those who are regular importers, we either meet
                                    or beat
                                    our
                                    competitor's rates so that they have no cost increase rather get a better &amp;
                                    attentive
                                    service. One can utilize our services either in part or full (from Door to Door)
                                    leaving
                                    them free
                                    to use the best vendor for each function and free estimate would let you compare the
                                    rate
                                    with no
                                    obligation.</p>

                                <p id="export-para-8" class="big">Each of our client is assigned one sales person to
                                    quote rates
                                    with
                                    one coordinator to serve &amp; perform the operation, giving the dependability you
                                    deserve.
                                    After
                                    few shipments, our client hardly has to get involved in their shipping &amp;
                                    clearing
                                    process
                                    because we believe in making them save not only money but time in coordinating their
                                    moves
                                    per their
                                    expectation. Shipment status is provided online or via emails/phones depending on
                                    the client's
                                    wish and modifications, if needed, are attended immediately to meet any of your new
                                    requirements due
                                    to rush or emergency.


                                </p></div>

                        </div>


                        <hr class="margbtm30">


                    </div>
                </div>
            </div>
        </div>        <!--footer sec-->

        {% include 'footer.html' %}


        <!--footer sec end-->

        <!--copyright sec-->
        <!--copyright sec end-->
    </div>
    <!--End pagewrapper-->

    <!--primary-mobile-nav-->


    <div id="off-canvas-layer" class="off-canvas-layer"></div>
    <!--primary-mobile-nav end-->


    <!--Scroll to top-->
    <a id="scroll-top" class="backtotop" href="#page-top"><i class="fa fa-angle-up"></i></a>

    <!--Color switcher-->

    <!-- jquery Liabrary -->
</div>

</body>
{% endblock %}
