{% extends 'base.html' %}

{% load static %}

{% block content %}
{% include 'header.html' %}
<body class="home header-transparent  header-sticky header-v1 hide-topbar-mobile"
      style="position: relative; min-height: 100%; top: 0px;">
<div id="page">


    <div id="fh-header-minimized" class="fh-header-minimized fh-header-v1" style="height: 111px;"></div>


    <div class="page-header title-area">
        <div class="header-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                        <h1 class="page-title">Logistics Rep For Importers</h1></div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12 site-breadcrumb">
                        <nav class="breadcrumb">
                            <a class="home" href="./"><span>Home</span></a>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span>Logistics Rep For Importers</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Page Header end-->
    <section class="partener-1 bluebg">
        <div class="container">
            <div class="fh-partner clearfix">
                <div class="list-item">


                    <div class="col-lg-12 col-md-12">

                    </div>


                </div>
            </div>
        </div>
    </section>
    <div class="service_dtl1 secpadd">
        <div class="container">
            <div class="row">
                <div class="col-md-12">


                    <div class="row paddsec">
                        <div class="col-md-12">
                            <div class="abotinforgt">
                                <div class="fh-section-title clearfix f25  text-left version-dark paddbtm40">
                                    <h2> Logistics Rep for Importers </h2>
                                </div>

                                <ul class="ff-service" style="margin-bottom: 15px;">
                                    <li>Importers experience our logistics professionals managing their inbound sea
                                        shipments'
                                        complete visibility from their suppliers, FOB origin services, <a
                                                href="international-freight.php" class="resource-link">international</a>
                                        movement,
                                        destination &amp; delivery to door for a nominal fee.
                                    </li>
                                    <li>Services listed below can be utilized in part or full by a regular importer
                                        giving him many
                                        advantage &amp; savings of time &amp; money
                                    </li>
                                </ul>


                                <h4>Carrier Choice</h4>
                                <p>
                                    Shipments are arranged with the shipping line you prefer of with whom you have
                                    Service Contract. During peak season, blocking space on carrier, using the influence
                                    to make the vessel desired. Last minute rush in facilitating the load on board the
                                    vessel regardless if it requires all night stay at port.
                                </p>


                            </div>
                        </div>

                    </div>


                    <hr class="margtb40">


                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>Service Contract availability, maintenance &amp; negotiation</h2>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                Your Service Contract will be available over internet &amp; data will be maintained to
                                keep them current. We assist in negotiation competitive rates from Shipper Lines and
                                watch for GRI &amp; Peak Season Surcharges applied by them. You could review them via
                                internet and check status of your lifting.
                                Your internal program can be updated daily with shipment status and/or emails will be
                                sent to concerns.
                            </p>


                        </div>
                    </div>


                    <hr class="margtb40">


                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>Customs Broker Coordination</h2>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                Your broker clearing goods will get complete documentation on time with shipment status
                                information to enable them to expedite customs clearance in time to avoid high demurrage
                                &amp; detention charge.
                            </p>


                        </div>
                    </div>
                    <hr class="margbtm30">


                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>Documentation Distribution</h2>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                Shipment documents timely distribution to facilitate &amp; expedite customs clearance,
                                avoid demurrage and save time. Post shipment documents until reached in right hands, the
                                process is not complete the hindrance causes last minute delays, costs &amp;
                                frustration.
                                Experienced in making desired changes due to the delays in production or carrier such as
                                arranging airfreight/sea-air.
                            </p>


                        </div>
                    </div>
                    <hr class="margbtm30">


                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>Your Representation</h2>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                Representing your interest from origin, with our selectively picked experienced
                                counterparts at all major world ports, we bring everybody in line to stream line the
                                process which might otherwise cause delays &amp; additional unnecessary expenses in
                                transportation. Our proactive actions saves your personnel's time, training &amp; avoid
                                sleepless nights &amp; learning by expensive mistakes. Our one person of contact in your
                                time zone coordinate all origin &amp; destination requirements which saves your time,
                                overseas calls, night sleeps &amp; unnecessary frustration between your personnel. We
                                provide enough precautions &amp; services to thrive meet your expectations to save you
                                enough cost to justify utilizing our services.

                            </p>

                            <p>

                                Besides above, our Licenses, Liability Insurance and performance Bonds with a reliable
                                and establishment since 1987 is behind so that you could consider us an extension to
                                your business.

                            </p>


                        </div>
                    </div>
                    <hr class="margbtm30">


                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>Claim Processing</h2>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <p>


                                Determining the cause of damage, evaluation of responsibility and collection of
                                appropriate documentation just to process a claim filing requires experienced and
                                knowledgeable staff. Our free consultation and option to let us file a claim on your
                                behalf for a fee itself is what every importer wish. We do involve Surveyor &amp;/or
                                professional law firm under consent with you for Cargo &amp;/or Liability claims.
                            </p>


                        </div>
                    </div>
                    <hr class="margbtm30">


                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}


    <!--footer sec end-->

    <!--copyright sec-->
    <!--copyright sec end-->
</div>
<!--End pagewrapper-->

<!--primary-mobile-nav-->


<div id="off-canvas-layer" class="off-canvas-layer"></div>
<!--primary-mobile-nav end-->


<!--Scroll to top-->
<a id="scroll-top" class="backtotop" href="#page-top"><i class="fa fa-angle-up"></i></a>

<!--Color switcher-->

<!-- jquery Liabrary -->
</div>

</body>
{% endblock %}
