{% extends 'base.html' %}

{% load static %}

{% block content %}
{% include 'header.html' %}

<body class="home header-transparent  header-sticky header-v1 hide-topbar-mobile">
<div id="page">

    <!--Page Header-->
    <div class="page-header title-area">
        <div class="header-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                        <h1 class="page-title"> International Freight</h1></div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12 site-breadcrumb">
                        <nav class="breadcrumb">
                            <a class="home" href="./"><span>Home</span></a>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span> International Freight</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Page Header end-->
    <section class="partener-1 bluebg">
        <div class="container">
            <div class="fh-partner clearfix">
                <div class="list-item">




                </div>
            </div>
        </div>
    </section>
    <!--services Welcome sec -->
    <div class="service_dtl1 secpadd">
        <div class="container">
            <div class="row">
                <div class="col-md-12">


                    <div class="row paddsec">
                        <div class="col-md-12">
                            <div class="abotinforgt">
                                <div class="fh-section-title clearfix f25  text-left version-dark paddbtm40">
                                    <h2> International Freight </h2>
                                </div>

                                <p>
                                    Air &amp; Sea Freight services are available to any destination in the world. DML
                                    Courier Servce is one of the few leading transporting company in USA
                                    who can provide all the services in the Air or Sea Freight industry
                                </p>


                                <p>

                                    We can be used either as an agent of any carrier serving the destination you are
                                    shipping to or utilizing us as a carriers to avail discounts available due to our
                                    volume of shipments with carriers or by utilizing our consolidation service.
                                </p>


                                <p>
                                    Any Size/Weight of shipment, from Door to Port, Port to Door, Door to Door Flexible
                                    but Reliable with Low Rates and Faster Transit Pickup/Delivery are available From/To
                                    - Business, Exhibition, Convention, Hotel &amp;/or Residence
                                </p>


                            </div>
                        </div>

                    </div>


                    <hr class="margtb40">


                    <div class="row paddsec">
                        <div class="col-md-12">
                            <div class="abotinforgt">
                                <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                                    <h2>Sea Freight International</h2>
                                </div>


                                <div class="table-responsive">
                                    <table id="domestic-table"
                                           style="width: 100%; border-left: 1px solid #c0dae8; border-right: 1px solid #c0dae8; font-size: 10pt; margin-bottom:60px;"
                                           cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr style="font-weight: bold; background-color: rgba(1, 170, 248, 0.07); border-top:2px solid #c0dae8;  ">
                                            <td class="table_borders"
                                                style="width: 30%;border-top:1px solid #c0dae8; padding-left:20px; border-bottom:1px solid #c0dae8; height: 30px; color: #404040;">
                                                Name of Service
                                            </td>
                                            <td class="table_borders"
                                                style="width: 70%;border-top:1px solid #c0dae8; border-bottom:1px solid #c0dae8; color: #404040;">
                                                Explanation
                                            </td>
                                        </tr>
                                        <tr style="height:30px;">
                                            <td class="table_borders" style=" padding-left: 20px; font-weight: bold;">
                                                Consolidation
                                            </td>
                                            <td class="table_borders" style="padding-right: 5px;">Your House Bill of
                                                Lading is provided
                                            </td>
                                        </tr>
                                        <tr style="height:30px;">
                                            <td class="table_borders"
                                                style="padding-left: 20px; font-weight: bold;  border-bottom: 1px solid #c0dae8">
                                                Direct
                                            </td>
                                            <td class="table_borders"
                                                style="padding-right: 5px; border-bottom: 1px solid #c0dae8;">Ocean
                                                carrier of your choice &amp; their Bill of Lading is provided
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>


                            </div>
                        </div>

                    </div>


                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>Air Freight International</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">


                            <div class="table-responsive" style="margin-bottom:60px;">

                                <table style="width: 100%; border-left: 1px solid #c0dae8; border-right: 1px solid #c0dae8; font-size: 10pt; margin-bottom:60px;"
                                       cellspacing="0" cellpadding="0">
                                    <tbody>
                                    <tr style="font-weight: bold; background-color: rgba(1, 170, 248, 0.07); border-top:2px solid #c0dae8;  ">
                                        <td class="table_borders"
                                            style="width: 30%;border-top:1px solid #c0dae8; padding-left:20px; border-bottom:1px solid #c0dae8; height: 30px; color: #404040;">
                                            Name of Service
                                        </td>
                                        <td class="table_borders"
                                            style="width: 70%;border-top:1px solid #c0dae8; border-bottom:1px solid #c0dae8; color: #404040;">
                                            Time to Deliver
                                        </td>
                                    </tr>
                                    <tr style="height:30px;">
                                        <td class="table_borders" style=" padding-left: 20px; font-weight: bold;">
                                            Consolidation
                                        </td>
                                        <td class="table_borders" style="padding-right: 5px;">Mostly in +/- 4 days to
                                            major airports worldwide (airline of our choice)
                                        </td>
                                    </tr>
                                    <tr style="height:30px;">
                                        <td class="table_borders" style="padding-left: 20px; font-weight: bold; ">
                                            Direct
                                        </td>
                                        <td class="table_borders" style="padding-right: 5px;">Airline of your choice
                                        </td>
                                    </tr>
                                    <tr style="height:30px;">
                                        <td class="table_borders"
                                            style="padding-left: 20px; font-weight: bold;  border-bottom: 1px solid #c0dae8">
                                            Express
                                        </td>
                                        <td class="table_borders"
                                            style="padding-right: 5px; border-bottom: 1px solid #c0dae8;">As fast as it
                                            can reach to final destination from the pickup time.
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>


                                <table style="width: 100%;border-left: 1px solid #c0dae8; border-right: 1px solid #c0dae8; font-size: 10pt;"
                                       cellspacing="0" cellpadding="0">
                                    <tbody>
                                    <tr style="font-weight: bold;  background-color: rgba(1, 170, 248, 0.07); border-top:2px solid #c0dae8;  ">
                                        <!--<td class="table_borders" colspan="2"style="width: 20%;border-top:1px solid #c0dae8; padding-left:5px; text-align: center; border-bottom:1px solid #c0dae8; height: 30px; color: #404040;">We provide you with the following documentations</td>-->
                                        <td class="table_borders" colspan="2"
                                            style="width: 20%;border-top:1px solid #c0dae8; padding-left:5px; text-align: center; border-bottom:1px solid #c0dae8; height: 30px; color: #404040;">
                                            Professional &amp; timely documentation is must in shipping
                                        </td>

                                    </tr>
                                    <tr style="height:30px;">
                                        <td class="table_borders"
                                            style="width: 30%; padding-left: 20px; font-weight: bold;">Banking
                                        </td>
                                        <td class="table_borders" style="padding-right: 5px;">Letter of Credit, Draft
                                            &amp; Others
                                        </td>
                                    </tr>
                                    <tr style="height:30px;">
                                        <td class="table_borders" style="padding-left: 20px; font-weight: bold; ">
                                            Chamber
                                        </td>
                                        <td class="table_borders" style="padding-right: 5px; ">Certification,
                                            Certificate of Origin
                                        </td>
                                    </tr>
                                    <tr style="height:30px;">
                                        <td class="table_borders" style="padding-left: 20px; font-weight: bold;  ">
                                            Consul
                                        </td>
                                        <td class="table_borders" style="padding-right: 5px;">Legalization,
                                            Certification
                                        </td>
                                    </tr>
                                    <tr style="height:30px;">
                                        <td class="table_borders" style="padding-left: 20px; font-weight: bold;">
                                            Export
                                        </td>
                                        <td class="table_borders" style="padding-right: 5px;">Regulations requirements,
                                            i.e. SED- (Shippers Export Declaration), Licenses
                                        </td>
                                    </tr>
                                    <tr style="height:30px;">
                                        <td class="table_borders" style="padding-left: 20px; font-weight: bold;">
                                            Import
                                        </td>
                                        <td class="table_borders" style="padding-right: 5px;">Overseas countries
                                            regulations, SGS Inspections
                                        </td>
                                    </tr>
                                    <tr style="height:30px;">
                                        <td class="table_borders" style="padding-left: 20px; font-weight: bold;">
                                            Carrier
                                        </td>
                                        <td class="table_borders" style="padding-right: 5px;">Air WayBill, Forwarder's
                                            Cargo Receipt etc.
                                        </td>
                                    </tr>
                                    <tr style="height:30px;">
                                        <td class="table_borders"
                                            style="padding-left: 20px; font-weight: bold;  border-bottom: 1px solid #c0dae8;">
                                            Commodity
                                        </td>
                                        <td class="table_borders"
                                            style="padding-right: 5px; border-bottom: 1px solid #c0dae8;">Hazardous
                                            Cargo, Perishables etc.
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>


                            </div>

                        </div>


                    </div>


                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>Why should you choose AIR7SEAS for your needs?</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="ff-service"
                                style="background-color: #f4f4f4; font-size: 10pt; line-height:30px;">
                                <li style="padding-top: 10px;">Pickups/Delivery : From/To Exhibition, Conventions,
                                    Hotel,
                                    Residence, Weekends or
                                    Holidays.
                                </li>
                                <li>Either Inbound or Outbound : Use us for both - your incoming or outgoing
                                    shipments.
                                </li>
                                <li>Cut-Off Flexibility : Ship when you are ready, convenience of choosing the
                                    pickup/delivery
                                    time, late cut-offs, and still be able to meet the deadlines and satisfy your
                                    customer.
                                    24
                                    hours accessibility, Weekends, Holidays, Regular house pickup available (daily,
                                    weekly or
                                    specific days of the week).
                                </li>
                                <li>Liability Terms for International : Best available liability coverage in the
                                    industry &amp;
                                    lower insurance
                                </li>
                                <li>Shipment Order : Same easy form for any service. Order service simply by Phone, Fax
                                    or
                                    Website.
                                </li>
                                <li style="padding-bottom: 10px;">Flexible Billing : Choice between Prepaid, Collect or
                                    Third
                                    Party Billing. Simplified rate
                                    Structure.
                                </li>
                            </ul>

                        </div>

                    </div>


                    <hr class="margbtm30">


                </div>
            </div>
        </div>
    </div>
    <!-- Welcome sec   end-->

    <!--footer sec-->

{% include 'footer.html' %}

</div>



<div id="off-canvas-layer" class="off-canvas-layer"></div>
<!--primary-mobile-nav end-->


<!--Scroll to top-->
<a id="scroll-top" class="backtotop" href="#page-top"><i class="fa fa-angle-up"></i></a>


</body>
{% endblock %}
