{% extends 'base.html' %}

{% load static %}

{% block content %}
<body class="home header-transparent  header-sticky header-v1 hide-topbar-mobile"
      style="position: relative; min-height: 100%; top: 0px;">
<div id="page">
    {% include 'header.html' %}


    <div id="fh-header-minimized" class="fh-header-minimized fh-header-v1" style="height: 111px;"></div>

    <div class="page-header title-area">
        <div class="header-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                        <h1 class="page-title">Logistics</h1></div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12 site-breadcrumb">
                        <nav class="breadcrumb">
                            <a class="home" href="./"><span>Home</span></a>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span>Logistics</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Page Header end-->
    <section class="partener-1 bluebg">
        <div class="container">
            <div class="fh-partner clearfix">
                <div class="list-item">


                    <div class="col-lg-12 col-md-12">


                    </div>


                </div>
            </div>
        </div>
    </section>
    <!--services Welcome sec -->
    <div class="service_dtl1 secpadd">
        <div class="container">
            <div class="row">
                <div class="col-md-12">


                    <div class="row paddsec">
                        <div class="col-md-12">
                            <div class="abotinforgt">
                                <div class="fh-section-title clearfix f25  text-left version-dark paddbtm40">
                                    <h2> Logistics </h2>
                                </div>

                                <p>
                                    We are a passionate group of professionals with expertise in areas ranging from
                                    transportation, customs and compliance, to distribution, legal and finance.
                                    Logistics can be a labyrinth. One question leads to three others.

                                </p>


                                <p>
                                    Beyond container shipping and transport solutions, we offer a comprehensive range of
                                    logistics services to secure your supply chain. Acting as the logistic arm of the
                                    Group, our logistics subsidiaries including CMA CGM LOG handle all your logistics
                                    challenges by providing Group customers with end-to-end solutions in synergies with
                                    liner business. Whatever your challenge, we offer you with the best-in-class
                                    solution
                                </p>


                            </div>
                        </div>

                    </div>


                    <hr class="margtb40">


                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>Our Key transportation services include:</h2>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">


                            <ul style="padding-left: 50px; margin:10px 0px; ">
                                <li>OTR trucking</li>
                                <li>LTL trucking</li>
                                <li>Intermodal</li>
                                <li>Port drayage</li>
                                <li>Specialized services</li>
                                <li>Contract Logistics</li>
                                <li>Shipment handling</li>
                                <li>Network optimization</li>
                                <li>Distribution management</li>
                            </ul>
                        </div>
                    </div>


                    <hr class="margbtm30">


                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}


    <div id="off-canvas-layer" class="off-canvas-layer"></div>
    <!--primary-mobile-nav end-->


    <!--Scroll to top-->
    <a id="scroll-top" class="backtotop" href="#page-top"><i class="fa fa-angle-up"></i></a>

    <!--Color switcher-->

    <!-- jquery Liabrary -->
</div>

</body>
{% endblock content %}
