{% extends 'base.html' %}

{% load static %}

{% block content %}
<body class="home header-transparent  header-sticky header-v1 hide-topbar-mobile"
      style="position: relative; min-height: 100%; top: 0px;">
<div id="page">
    {% include 'header.html' %}


    <div id="fh-header-minimized" class="fh-header-minimized fh-header-v1" style="height: 111px;"></div>

    <div class="page-header title-area">
        <div class="header-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                        <h1 class="page-title">Road Freight Forwarding </h1></div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12 site-breadcrumb">
                        <nav class="breadcrumb">
                            <a class="home" href="./"><span>Home</span></a>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span> Road Freight Forwarding</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Page Header end-->
    <section class="partener-1 bluebg">
        <div class="container">
            <div class="fh-partner clearfix">
                <div class="list-item">


                    <div class="col-lg-12 col-md-12">


                    </div>


                </div>
            </div>
        </div>
    </section>
    <!--services Welcome sec -->
    <div class="service_dtl1 secpadd">
        <div class="container">
            <div class="row">
                <div class="col-md-12">


                    <div class="row paddsec">
                        <div class="col-md-12">
                            <div class="abotinforgt">
                                <div class="fh-section-title clearfix f25  text-left version-dark paddbtm40">
                                    <h2>Road Freight Forwarding</h2>
                                </div>

                                <p>

                                    We do so much in domestic and international transportation/shipping and have
                                    assisted many small, medium &amp; large clients in number of year been in this
                                    industry.
                                    This has made us gain a vast knowledge in the domain to assist &amp; consult to
                                    companies who are expanding in this trade lane, software companies who are
                                    developing programs for this industry, management who wish to evaluate &amp;
                                    organize their departments &amp; consultants who wish to brainstorm ideas before
                                    implementing.

                                </p>


                                <p>
                                    We get to manage logistics of multiple clients exposing us to understand their
                                    softwares, procedures, strategies and difficulties thus bringing us expertise in
                                    this trade. Our input can be very useful to the expansion, planning, software
                                    selections, programming, distribution etc.. Our niche and the intelligence saves
                                    time, efforts, money &amp; bring latest knowledge, if considered as a consultant.
                                </p>


                            </div>
                        </div>

                    </div>


                    <hr class="margtb40">

                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                We always have a collaborative approach to transport planning, founding and development.
                                This is an approach that delivers integrated transport solutions that meet the needs of
                                customers. Also we do consultations for many categories like programs, policies and
                                projects according to specific scope, process and consultation principles. No successful
                                freight policy is possible without proper consultation with freight companies, with
                                local business groups and their public stakeholders too.
                            </p>


                            <p>

                                Freight portal is an essential feature of a good communication with their operators and
                                other stakeholders. In urban freight transport, it provides information on truck access
                                and delivery regulations, the provision of loading and unloading and other specific
                                information.

                            </p>


                        </div>
                    </div>


                    <hr class="margtb40">


                    <div class="row">
                        <div class="col-sm-12">


                            <p>

                                Before consult the stakeholders, it is very important to know who they are and what is
                                their interest and power in it. The goods are loaded in to load unit then the entire
                                load unit is transferred between transport modes at interchanges as required during the
                                transport.
                            </p>


                        </div>

                    </div>


                    <hr class="margbtm30">


                </div>
            </div>
        </div>
    </div>    <!-- Welcome sec   end-->
    <div class="service_dtl1 secpadd">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="row paddsec">
                        <div class="col-md-6">
                            <div class="abotinforgt">
                                <div class="fh-section-title clearfix f25  text-left version-dark paddbtm40">
                                    <h2> Road Freight Forwarding</h2>
                                </div>

                                <p>

                                    We provide transport to all destinations, whether personal effects, Bulk / Project
                                    cargo, containerized or loose cargo, DML Courier Servce Limited to get your goods
                                    there. We have a wide expertise in road freight services in USA and beyond.
                                </p>


                                <p>

                                    We have state of the art fleet, maintained in top notch condition, guaranteeing
                                    excellence in our Road Freight services.

                                    All our drivers are qualified and have many years of experience in driving trucks
                                    across several countries, this helps to add on to the safety of your cargo while on
                                    the road.

                                </p>


                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="abotimglft">
                                <img src="{% static 'img/Signature-Van1.png' %}" class="img-responsive">
                            </div>
                        </div>
                    </div>
                    <hr class="margtb40">
                    <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                        <h2>The overland solution</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">

                            <p>
                                WORLD NET LOGISTICS offers a broad spectrum of overland services to several countries in
                                Africa.
                                Our team of road freight experts are dedicated to finding the most suitable solution for
                                your transportation needs,
                                whether you are looking to ship full truck loads or less than truck loads.
                            </p>


                            <p>

                                With our expertise and infrastructure we can provide tailor-made solutions that help you
                                achieve your goals in terms of capacity, frequency and most importantly, your costs.

                                Partnering with WORLD NET LOGISTICS will give you the peace of mind that your goods will
                                efficiently reach its various destinations within your desired time requirements.

                            </p>


                        </div>


                        <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                            <h2>Our road Cargo services comprised of:</h2>


                            <div style="padding:20px 10px;">
                                <ul>
                                    <li>Full Truck Load (door step delivery)</li>
                                    <li>Partial truck load (door step delivery)</li>
                                    <li>Tailored solutions</li>
                                    <li>Multimodal transportation</li>
                                </ul>

                            </div>


                        </div>


                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}

    </div>
    <!--footer sec-->


    <div id="off-canvas-layer" class="off-canvas-layer"></div>
    <!--primary-mobile-nav end-->


    <!--Scroll to top-->
    <a id="scroll-top" class="backtotop" href="#page-top"><i class="fa fa-angle-up"></i></a>

    <!--Color switcher-->

    <!-- jquery Liabrary -->
</div>

</body>
{% endblock content %}
