{% extends 'base.html' %}

{% load static %}

{% block content %}
{% include 'header.html' %}


<body class="home header-transparent  header-sticky header-v1 hide-topbar-mobile"


<div id="fh-header-minimized" class="fh-header-minimized fh-header-v1" style="height: 111px;"></div>
<!-- topbar end -->


<div class="page-header title-area">
    <div class="header-title">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1 class="page-title">About Us</h1>
                    <div class="hdrgtpara lftredbrdr">
                        <p>Our warehousing services are known nationwide to
                            be one of the most reliable, safe and affordable,
                            because we take pride in delivering the best of
                            warehousing services, at the most reasonable prices.</p>
                    </div>
                    <br>
                    <div class="desc" style="color: white">
                        <p>As a leader in global air freight forwarding,
                            DML Courier Servce excels in providing tailored
                            transportation</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


<section class="aboutsec-2 secpaddbig">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="abotinforgt">
                    <div class="fh-section-title clearfix  text-left version-dark paddbtm30">
                        <h2>Who We are</h2>
                    </div>
                    <p>
                        DML Courier Servce' unique position allows us to offer full truckload (FTL) as well as less than
                        truckload (LTL) service through our vast network of third party providers. We take pride in our
                        ability to provide timely and reliable service, with our promise of satisfaction delivered with
                        each shipment we move.
                    </p>


                    <p>
                        We offer a range of expertise aimed at helping customers re-engineer and re-invent their
                        businesses to compete successfully in an ever-changing marketplace,
                        with the final objective of safely and promptly delivering all our customers consignments as
                        expected.


                        We strongly believe that pursuing all of these goals is in our interest and in the interest
                        of all of our stakeholders
                        are customers, employees, investors and the planet as a whole. We add value to cargo
                        people’s interaction with us, with excellent services or products.

                    </p>


                    <p>

                        DML Courier Servce' unique position allows us to offer full truckload (FTL) as well as less
                        than truckload (LTL)
                        service through our vast network of third party providers. We take pride in our ability to
                        provide timely and reliable service,
                        with our promise of satisfaction delivered with each shipment we move.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About us end-->

<!-- Feature sec -->
<section class="features-3 bluebg">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="fh-feature-box "><span class="chars">M</span>
                    <h4 class="box-title">Our Mission</h4>
                    <div class="desc">We meet our customers’ demands for a personal &amp; profesional service by
                        offering innovative supply chain solutions.
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="fh-feature-box "><span class="chars">V</span>
                    <h4 class="box-title">Our Vision</h4>
                    <div class="desc">We proactively and constantly look for new possibilities. Therefore, an
                        important part of our vision is to attract &amp; retain.
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="fh-feature-box "><span class="chars">C</span>
                    <h4 class="box-title">Core Values</h4>
                    <div class="desc">Procedures, values and attitudes are crucial to our reputation – not to
                        mention the success we enjoy.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature sec end -->

<!-- featured sec -->
<section class="whychoos-3 secpadd">
    <div class="container">
        <div class="fh-section-title clearfix text-left version-dark paddbtm30">
            <h2>Our Services</h2>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="fh-icon-box  style-2 version-dark">
                    <div class="desc">
                        <p>

                            Our services include armored car transportation, money processing, long-distance
                            transport of valuables, vaulting and other value-added solutions. DML Courier Servce
                            specializes in the secure transportation and handling of valuable goods throughout the
                            logistics value chain, from raw materials and components to finished products within the
                            mining, bank note, precious metals, jewelry, security, art and pharmaceutical
                            industries.

                            DML Courier Servce provides such value added services as Customs Clearance and
                            Brokerage, Inventory Management, Trade Show Services, Cash Processing, Walk-in Service
                            Centers, Free Trade Zones and Bonded Warehouses.
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'footer.html' %}



<!--Scroll to top-->
<a id="scroll-top" class="backtotop" href="#page-top"><i class="fa fa-angle-up"></i></a>

<!--Color switcher-->


{% endblock %}
