{% extends 'base.html' %}

{% load static %}

{% block content %}
{% include 'header.html' %}
<body class="home header-transparent  header-sticky header-v1 hide-topbar-mobile">

<div class="page-header title-area">
    <div class="header-title">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1 class="page-title">Shipment Tracking</h1>
                    <div class="hdrgtpara lftredbrdr">
                        <p>Our warehousing services are known nationwide to
                            be one of the most reliable, safe and affordable,
                            because we take pride in delivering the best of
                            warehousing services, at the most reasonable prices.</p>
                    </div>
                    <br>
                    <div class="desc" style="color: white">
                        <p>As a leader in global air freight forwarding,
                            DML Courier Servce excels in providing tailored
                            transportation</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--Page Header end-->
    <section class="partener-1 bluebg">
        <div class="container">
            <div class="fh-partner clearfix">
                <div class="list-item">


                    <div class="col-lg-12 col-md-12">

                        <div class="topbar-search topbar-search-1">
                            <label style="color:#fff;">Track Your Shipment</label>
                            <form method=POST onsubmit="return confirm(' are you sure the tracking number is correct?')"
                                  class="search-form" id="frmTrack" name="frmTrack"
                                  action="{% url 'us:detail' %}">
                                {% csrf_token %}
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input type="search" name="tracking_number" placeholder="place your tacking number"
                                       class="search-field" required="" id="id_tracking_number" style="color:#fff;">
                                <button type="submit" class="search-submit"></button>
                            </form>
                        </div>


                        <div id="google_translate_element">
                            <div class="skiptranslate goog-te-gadget" dir="ltr" style="">
                                <div id=":0.targetLanguage" class="goog-te-gadget-simple" style="white-space: nowrap;">
                                    <img src="https://www.google.com/images/cleardot.gif" class="goog-te-gadget-icon"
                                         alt=""
                                         style="background-image: url(&quot;https://translate.googleapis.com/translate_static/img/te_ctrl3.gif&quot;); background-position: -65px 0px;"><span
                                        style="vertical-align: middle;"><a aria-haspopup="true"
                                                                           class="goog-te-menu-value"
                                                                           href="javascript:void(0)"><span>Select Language</span><img
                                        src="https://www.google.com/images/cleardot.gif" alt="" width="1"
                                        height="1"><span style="border-left: 1px solid rgb(187, 187, 187);">​</span><img
                                        src="https://www.google.com/images/cleardot.gif" alt="" width="1"
                                        height="1"><span aria-hidden="true" style="color: rgb(118, 118, 118);">▼</span></a></span>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}











                        </script>
                        <script type="text/javascript"
                                src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="welcomesec secpadd" style="background: white !important">
        <div class="container">
            <div class="fh-section-title clearfix  text-center version-dark paddbtm20">
                <h2>DML Courier <span class="main-color">Service </span></h2>
            </div>
            <p class="haeadingpara text-center paddbtm40">DML Courier Servce is more
                than logistics.
                <br> We can also optimize your packaging, manage your
                materials sourcing, and so much more.</p>

            <div class="welservices row">
                <div class="col-md-4 col-sm-6">
                    <div class="fh-icon-box icon-type-theme_icon style-1 version-dark hide-button icon-left">
                        <span class="fh-icon"><i class="flaticon-transport-3"></i></span>
                        <h4 class="box-title">Air Freight Forwarding</h4>
                        <div class="desc">
                            <p>As a leader in global air freight forwarding,
                                DML Courier Servce excels in providing tailored
                                transportation</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="fh-icon-box icon-type-theme_icon style-1 version-dark hide-button icon-left">
                        <span class="fh-icon"><i class="flaticon-transport-4"></i></span>
                        <h4 class="box-title">Ocean Freight Forwarding</h4>
                        <div class="desc">
                            <p>Ocean Freight plays perhaps the most vital
                                role in most transportation and supply chain
                                solutions.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="fh-icon-box icon-type-theme_icon style-1 version-dark hide-button icon-left">
                        <span class="fh-icon"><i class="flaticon-transport-5"></i></span>
                        <h4 class="box-title">Road Freight Forwarding</h4>
                        <div class="desc">
                            <p>Cargo are transported at some stage of their
                                journey along the world’s roads where we give
                                you a reassuring presence.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    <!-- special services -->
    <section class="special_services bluebg secpadd">
        <div class="container">
            <div class="row paddbtm40">
                <div class="col-md-4 col-sm-12">
                    <div class="fh-section-title clearfix  text-left version-light">
                        <h2>Our Special SERVICES</h2>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="hdrgtpara lftredbrdr">
                        <p>Our warehousing services are known nationwide to
                            be one of the most reliable, safe and affordable,
                            because we take pride in delivering the best of
                            warehousing services, at the most reasonable prices.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="fh-service-box icon-type-theme_icon style-1">
                        <span class="fh-icon"><i class="flaticon-open-cardboard-box"></i></span>
                        <h4 class="service-title">Packaging And Storage</h4>
                        <div class="desc">
                            <p>Package and store your things effectively and
                                securely to make sure they are safe.</p>
                        </div>
                    </div>
                    <div class="fh-service-box icon-type-theme_icon style-1">
                        <span class="fh-icon"><i class="flaticon-buildings"></i></span>
                        <h4 class="service-title">Warehousing</h4>
                        <div class="desc">
                            <p>Package and store your things effectively and
                                securely to make sure they are safe.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="fh-service-box icon-type-theme_icon style-1">
                        <span class="fh-icon"><i class="flaticon-transport-9"></i></span>
                        <h4 class="service-title">Cargo</h4>
                        <div class="desc">
                            <p>Delivery of any freight from a place to
                                another place quickly to save your cost and your
                                time.</p>
                        </div>
                    </div>
                    <div class="fh-service-box icon-type-theme_icon style-1">
                        <span class="fh-icon"><i class="flaticon-transport-2"></i></span>
                        <h4 class="service-title">Door to Door Delivery</h4>
                        <div class="desc">
                            <p>Our expertise in transport management and
                                planning allows us to design a solution.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="fh-service-box icon-type-theme_icon style-1">
                        <span class="fh-icon"><i class="flaticon-international-delivery"></i></span>
                        <h4 class="service-title">Worldwide Transport</h4>
                        <div class="desc">
                            <p>Specialises in international freight
                                forwarding of merchandise and associated general
                                logistic services.</p>
                        </div>
                    </div>
                    <div class="fh-service-box icon-type-theme_icon style-1">
                        <span class="fh-icon"><i class="flaticon-transport-1"></i></span>
                        <h4 class="service-title">Ground Transport</h4>
                        <div class="desc">
                            <p>Ground transportation options for all
                                visitors, no matter your needs, schedule or
                                destination.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- special services end -->

    <!--home counters -->
    <section class="homecounts">
        <div class="container">
            <h2 class="count-title">DML Courier Servce <span class="main-color">Courier</span>
                is a Global Supplier of Transport and logistics Solutions.</h2>
        </div>
    </section>
    <!--home counters end -->

    <!--why choose us -->
    <section class="whychoose-1" style="background: white !important">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6  secpaddlf">
                    <div class="fh-section-title clearfix  text-left version-dark paddbtm40">
                        <h2>Why Choosing us?</h2>
                    </div>
                    <div class="fh-icon-box  style-2 icon-left has-line">
                        <span class="fh-icon"><i class="flaticon-international-delivery"></i></span>
                        <h4 class="box-title"><span>Global supply Chain
							Solutions</span></h4>
                        <div class="desc">
                            <p>Efficiently unleash cross-media information
                                without cross-media value.</p>
                        </div>
                    </div>
                    <div class="fh-icon-box  style-2 icon-left has-line">
                        <span class="fh-icon"><i class="flaticon-people"></i></span>
                        <h4 class="box-title"><span>24 Hours - Technical
							Support</span></h4>
                        <div class="desc">
                            <p>Specialises in international freight
                                forwarding of merchandise and associated
                                logistic services</p>
                        </div>
                    </div>
                    <div class="fh-icon-box  style-2 icon-left has-line">
                        <span class="fh-icon"><i class="flaticon-route"></i></span>
                        <h4 class="box-title"><span>Mobile Shipment Tracking</span></h4>
                        <div class="desc">
                            <p>We Offers intellgent concepts for road and
                                tail and well as complex special transport
                                services</p>
                        </div>
                    </div>
                    <div class="fh-icon-box  style-2 icon-left">
                        <span class="fh-icon"><i class="flaticon-open-cardboard-box"></i></span>
                        <h4 class="box-title"><span>Careful Handling of
							Valuable Goods</span></h4>
                        <div class="desc">
                            <p>Cargo HUB are transported at some stage of
                                their journey along the world’s roads</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-md-6 quofrm1  secpaddlf">
                    <div class="fh-section-title clearfix  text-left version-dark paddbtm40">
                        <h2>REQUEST A QUOTE</h2>
                    </div>
            {% include 'snippet.html' %}
                </div>
            </div>
        </div>
    </section>
</div>
<!--End pagewrapper-->


<!--primary-mobile-nav-->

<div class="primary-mobile-nav header-v1" id="primary-mobile-nav" role="navigation">
    <a href="#" class="close-canvas-mobile-panel"><i class="fa fa-times"></i></a>
    <ul class="menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="about-us.html"> About Us</a></li>
        <li class="menu-item-has-children"><a href="javascript:void(0)" class="dropdown-toggle">Services</a>
            <ul class="sub-menu">
                <li><a href="international-freight.html">International Freight</a></li>
                <li><a href="domestic-freight.html">Domestic Freight</a></li>
                <li><a href="freight-forwarder.html">Freight Forwarding</a></li>
                <li><a href="freight-consultation.html">Consultation</a></li>
            </ul>
        </li>
        <li class="menu-item-has-children"><a href="javascript:void(0)" class="dropdown-toggle">Movers</a>
            <ul class="sub-menu">
                <li><a href="move-household-goods.html">Household Goods</a></li>
                <li><a href="ship-commercial-goods.html">Commercial Goods</a></li>
            </ul>
        </li>
        <li class="menu-item-has-children"><a href="javascript:void(0)" class="dropdown-toggle">Freight</a>
            <ul class="sub-menu">
                <li><a href="air-freight-carrier.html">Air Freight Carrier</a></li>
                <li><a href="ocean-freight-forwarding.html">Ocean Freight Forwarding</a></li>
                <li><a href="road-freight-forwarding.html">Road Freight Forwarding</a></li>
                <li><a href="soc-movements.html">SOC Movements</a></li>
            </ul>
        </li>


        <li class="menu-item-has-children"><a href="#" class="dropdown-toggle">Customs</a>
            <ul class="sub-menu">
                <li><a href="export-import.html">Export - Import</a></li>
                <li><a href="importers-logistics-rep.html">Importer's Rep</a></li>
            </ul>
        </li>

        <li><a href="logistics.html">Logistics</a></li>
        <li><a href="contact-us.html">Contact</a></li>


    </ul>

</div>


<div id="off-canvas-layer" class="off-canvas-layer"></div>
<!--primary-mobile-nav end-->


<!--Scroll to top-->
<a id="scroll-top" class="backtotop" href="#page-top"><i class="fa fa-angle-up"></i></a>

<!--Color switcher-->


</body>


<!--footer sec-->



{% include 'footer.html' %}



{% endblock %}
